.loading-icon__page {
    width: 100%;
    height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.loading-icon__container {
    width: 25vh;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
     background: rgb(19,27,35);
    background: linear-gradient(60deg, rgba(19,27,35,1) 20%, rgba(219,48,105,1) 35%, rgba(19,27,35,1) 40%, rgba(219,48,105,1) 45%, rgba(19,27,35,1) 50%, rgba(219,48,105,1) 55%, rgba(19,27,35,1) 60%, rgba(219,48,105,1) 65%, rgba(19,27,35,1) 80%);
    
    border-radius: 100px;
    animation: loading-container-spin infinite .7s ease-in-out;
}


.loading-icon__paragraph {
    display: flex;
    font-size: 25px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #db3069 !important;
    font-family: 'Cairo', sans-serif;
    border-radius: 100px;
    background-color: #131b23;
    animation: loading-text-spin infinite .7s ease-in-out;
}


@keyframes loading-container-spin {
    from {
        transform: rotate(360deg) translateY(8px);
    }

    to {
        transform: rotate(0) translateY(8px);
    }

}
@keyframes loading-text-spin {
    from {
        transform: rotate(0deg);
     
    }

    to {
        transform: rotate(360deg);
    }
}