.card-header__container {
    width: 50vw;
    justify-content: center;
    text-align: center;
    background: rgb(219,48,105);
    background: radial-gradient(circle, rgba(219,48,105,1) 37%, rgba(19,27,35,1) 88%);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: inset 0em 0 0 0px #131B23;
    border: none;
    border-color: white;
    transition: box-shadow .3s ease-out, color .3s ease-in;
}

    .card-header__container:hover {
        box-shadow: inset 0px 0px 3px 3px #131B23;
        background-color: #DB3069 !important;

    }

.navbar__brand-name {
    color: black !important;
}
    .navbar__brand-name:hover {
        color: white !important;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-color: white !important;
    }


.navbar--separator {
    width: 2px;
    margin: 20px;
    height: 50px;
    border-radius: 50px;
    background-color: #DB3069;
}